
body {
  background-color: #000000;
  color: #e6e6e6;
  font-family: papyrus;
  padding: 100px;
  border: 20px solid #330000;
  margin: 40px, 100px;
}

h1, h2{
	text-align: center;
	color: #BE9A9A;
}

p{
	font-size: 15px;
	color: #000000;
	border: 10px double #330000;
	background-color: #BE9A9A;
}

img{
	
	width: 150px;
	height: 115px;
	border: 10px solid #330000;
	float: right;	
	padding: 20px 20px;
	background: #BE9A9A;
}

a{
	color: #330000;
}

ul {
      list-style: none; 
      padding: 0;
    }
    ul li::before {
      content: "★"; 
      color: #BE9A9A;
      margin-right: 8px; 
    }


#questions {
	max-width: 800px;
	margin: auto;
}

.question-text {
	background-color: #330000;
	color: #BE9A9A;
	font-size: 25px;
	padding: 12px;
	cursor: pointer;
	border: 2px solid #AA5252;
	margin-bottom: 10px;
}

.answer {
	background-color: #1a1a1a;
	border: 1px solid #4d0000;
	margin: 5px 0;
	padding: 10px;
	display: none;
	cursor: pointer;
}

.answer:hover {
	background-color: #330000;
}

.correct-answer {
	background-color: #35492A;
	color: #80bd9b;
}

.incorrect-answer {
	background-color: #572727;
	color: #BE9A9A;
}

.explanation {
	display: none;
	padding: 10px;
	font-style: italic;
	color: #80bd9b;
}

h3, h4{
	color: #BE9A9A;
}

textarea, button{
	background-color: #BE9A9A;
	border: 1px solid #4d0000;
	cursor: pointer;
}

::placeholder{
	color: #000000;
}

.comment-box {
	margin-bottom: 20px;
	cursor: pointer;
}
.comments {
	margin-top: 20px;
}
.comment {
	padding: 10px;
	border: 1px solid #BE9A9A;
	margin-bottom: 10px;
	border-radius: 5px; 
}
