
body {
  background-color: #000000;
  color: #e6e6e6;
  font-family: papyrus;
  padding: 100px;
  border: 20px solid #330000;
  margin: 50px 35px;
}

h1, h2{
	text-align: center;
	color: #BE9A9A;
}

p{
	font-size: 15px;
	color: #000000;
	border: 10px double #330000;
	background-color: #BE9A9A;
}

img{
	
	width: 200px;
	height: 175px;
	border: 10px solid #330000;
	float: right;	
}

a{
	color: #330000;
}



#questions {
	max-width: 800px;
	margin: auto;
}

.question-text {
	background-color: #330000;
	color: #BE9A9A;
	font-size: 25px;
	padding: 12px;
	cursor: pointer;
	border: 2px solid #AA5252;
	margin-bottom: 10px;
}

.answer {
	background-color: #1a1a1a;
	border: 1px solid #4d0000;
	margin: 5px 0;
	padding: 10px;
	display: none;
	cursor: pointer;
}

.answer:hover {
	background-color: #330000;
}

.correct-answer {
	background-color: #003300;
	color: #ccffcc;
}

.incorrect-answer {
	background-color: #660000;
	color: #BE9A9A;
}

.explanation {
	display: none;
	padding: 10px;
	font-style: italic;
	color: #99ff99;
}
