
body {
  background-color: #0d0d0d;
  color: #e6e6e6;
  font-family: papyrus;
  padding: 40px;
}

h1, h2{
	color: ffcccc;
	text-align: center;
}

#questions {
	max-width: 800px;
	margin: auto;
}

.question-text {
	background-color: #330000;
	color: #ffcccc;
	font-size: 20px;
	padding: 12px;
	cursor: pointer;
	border: 1px solid #990000;
	margin-bottom: 10px;
}

.answer {
	background-color: #1a1a1a;
	border: 1px solid #4d0000;
	margin: 5px 0;
	padding: 10px;
	display: none;
	cursor: pointer;
}

.answer:hover {
	background-color: #330000;
}

.correct-answer {
	background-color: #003300;
	color: #ccffcc;
}

.incorrect-answer {
	background-color: #660000;
	color: #ffcccc;
}

.explanation {
	display: none;
	padding: 10px;
	font-style: italic;
	color: #99ff99;
}
